<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.com.carrito.mybatis.mappers.ProductCartMapper">
	<resultMap type="co.com.carrito.domain.ProductCart" id="ProductCartResult">
  	
  		<id		property ="prodCartId"  column ="prod_cart_id"/>
  		<result property ="quantity"	column ="quantity"/>

 		<association property ="product" 
			resultMap="co.com.carrito.mybatis.mappers.ProductMapper.ProductResult"/>
  	</resultMap>
</mapper>